* {
  padding: 0;
  margin: 0;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #11113c;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #004E7C;
}

*::-webkit-scrollbar-thumb {
  background-color: #11113c;
  border-radius: 20px;
  border: 3px solid #004E7C;
}

body {
  background-color: #11113c;
  font-family: "PT Serif", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #c9e5e7;
}

header {
  width: 100%;
}

.title {
  text-align: center;
  margin-top: 30px;
  font-size: 44px;
  background: #004E7C;
  padding: 20px;
  letter-spacing: 2px;
}

.container {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  margin: 20px;
}

.container-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.countrySelection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid #004e7c;
  width: 500px;
  height: 330px;
  margin-top: 30px;
  border-radius: 20px;
  overflow: hidden;
}
.countrySelection__title {
  box-sizing: border-box;
  font-size: 26px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  background-color: #004e7c;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.chosen {
  background-color: #004E7C;
  border: 3px solid #1ee3e9 !important;
  color: #1ee3e9;
}

.rows-container {
  display: flex;
  border-radius: 20px;
}

.column {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.countryName {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border-radius: 20px;
  margin: 10px;
  width: 130px;
  height: 50px;
  border: 3px solid #004E7C;
  transition: transform 0.5s;
}
.countryName:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.start {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 15px;
  background-color: #11113c;
  border: 3px solid #004E7C;
  font-size: 24px;
  color: #c9e5e7;
  border-radius: 20px;
  margin-bottom: 20px;
  transition: transform 0.5s, background-color 0.5s;
}

.start:hover {
  transform: scale(1.2);
  background-color: #004E7C;
}

.field {
  width: 600px;
  border-radius: 20px;
  text-align: center;
  font-size: 50px;
  color: white;
}

.country {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1ee3e9;
  font-family: "PT Serif", serif;
  height: 90px;
  background-color: #11113c;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 3px solid #004E7C;
}

.words {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: #01012b;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: 3px solid #004E7C;
  border-left: 3px solid #004E7C;
  border-right: 3px solid #004E7C;
  color: #d3d350;
}

.white {
  color: black;
  background: white;
  opacity: 0.5;
  pointer-events: none;
}

.showAnswers {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #c9e5e7;
  font-size: 26px;
  padding: 15px;
  border-radius: 20px;
  background-color: #11113c;
  border: 3px solid #004E7C;
  transition: transform 0.5s, background-color 1s;
  margin-top: 10px;
}
.showAnswers:hover {
  transform: rotate(-10deg);
  background-color: #004E7C;
}

.visible {
  opacity: 1 !important;
  pointer-events: all !important;
}

.active {
  color: #1ee3e9;
  background-color: #004e7c !important;
}

.collapsed {
  box-sizing: border-box;
  max-height: 220px !important;
  margin-bottom: 10px;
}

.answers__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px;
  margin-bottom: 200px;
  opacity: 0;
  transition: opacity 1s;
  pointer-events: none;
}

.answers__box {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #11113c;
  color: #c9e5e7;
  border: 3px solid #004e7c;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  width: 300px;
  font-size: 24px;
  outline: none;
  transition: background-color 0.5s;
}
.answers__box:hover {
  cursor: pointer;
  background-color: #004E7C;
}

.answers__collapsed {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;
  font-size: 20px;
}

.answer {
  margin-left: 25px;
  padding-top: 5px;
}

.yellowSpan {
  color: #d3d350;
}

@media (max-width: 1000px) {
  .title {
    font-size: 30px;
  }

  .container {
    margin: 10px;
  }

  .start,
.showAnswers {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .field {
    height: 120px;
    font-size: 30px;
    width: 300px;
  }

  .words,
.country {
    height: 60px;
  }

  .countryName {
    font-size: 16px;
    width: 80px;
    height: 40px;
  }

  .countrySelection {
    width: 350px;
    height: 280px;
  }
  .countrySelection__title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .answers__container {
    grid-template-columns: 1fr;
    margin-top: 0;
  }

  .answers__box {
    font-size: 18px;
  }

  .answer {
    font-size: 16px;
  }
}/*# sourceMappingURL=styles.css.map */